<section>
  <div class="controls">
    <h2>コメントの更新</h2>
  </div>
  <div class="controls">
    <form action="/comments/<%=@comment.id%>/edit" method="post" >
      <div class="edit-form" style="text-align:center;">
        <textarea name="updated_comment" rows="3" cols="30" style="color: black" placeholder="<%=@comment.comment%>"><%=@comment.comment%></textarea>
        <input type="submit" value="更新">
      </div>
    </form>
  </div>
</section>