<section>
  <div class="container">
    <h2>コメントの更新</h2>
    <form action="/comments/<%=@comment.id%>/edit" method="post" >
      <div class="edit-form" style="text-align:center;">
        <textarea name="updated_comment" rows="3" cols="30" wrap="soft" style="color: black" placeholder="<%=@comment.comment%>"></textarea>
        <button class="btn btn-primary" type="submit" >更新</button>
      </div>
    </form>
  </div>
</section>