<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Syllabus Share</title>
</head>
<body>
<div class="top-form">
  <div class="login-form controls">
    <%# <h2 class="controls top-title">Syllabus Share</h2> %>
    <img style="background-color: #000000a8" class='controls' src="/images/logo-white.png">
    <% if current_user.nil? %>
    <div class='controls'>
    <form action='/signin' method="post">
      <input type="text" id="name" name="name" placeholder="Username">
      <input name="password" type="password" placeholder="Password">
      <input type="submit" value="Sign in">
    </form>
    </div>
    <%end%>
  </div>
</div>

<%# トップページで検索 %>
  <% if !current_user.nil? %>
  <div class="controls">
    <div class="row">
      <img class="col" src="/images/logo.png">
      <form class="form-group col search-form" method="get" action="/search">
        <h2 style="color: #fff">
        シラバスを検索する
        </h2>
        <div class="form-group">
          <select class="form-control" name="faculty">
            <option value="">学部</option>
            <optgroup label="--- 早稲田キャンパス ---">
              <option>政治経済学部</option>
              <option>法学部</option>
              <option>商学部</option>
              <option>教育学部</option>
              <option>社会科学部</option>
              <option>国際教養学部</option>
            </optgroup>
            <optgroup label="--- 戸山キャンパス ---">
              <option>文学部</option>
              <option>文化構想学部</option>
            </optgroup>
            <optgroup label="--- 西早稲田キャンパス ---">
              <option>基幹理工学部</option>
              <option>創造理工学部</option>
              <option>先進理工学部</option>
            </optgroup>
            <optgroup label="--- 所沢キャンパス ---">
              <option>人間科学部</option>
              <option>スポーツ科学部</option>
            </optgroup>
            <optgroup label="--- その他 ---">
              <option value="グローバルエデュケーションセンター">グローバルエデュケーションセンター</option>
            </optgroup>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" name="term">
            <option value="">学期</option>
            <option value="春学期">春学期, 夏季集中</option>
            <option value="秋学期">秋学期, 冬季集中</option>
            <option value="通年">通年</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" name="day">
            <option value="">曜日</option>
            <option value="月">月曜日</option>
            <option value="火">火曜日</option>
            <option value="水">水曜日</option>
            <option value="木">木曜日</option>
            <option value="金">金曜日</option>
            <option value="土">土曜日</option>
          </select>
          </div>
          <div class="form-group">
            <select class="form-control" name="period">
              <option value="">時限</option>
              <option value="1">1限</option>
              <option value="2">2限</option>
              <option value="3">3限</option>
              <option value="4">4限</option>
              <option value="5">5限</option>
              <option value="6">6限</option>
              <option value="7">7限</option>
            </select>
          </div>
          <div class="form-group">
              <input class="form-control" name="keyword" type="text" placeholder="授業名, 教授名, キーワード">
            <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="検索">
          </div>
        </div>
      </form>
    </div>
  </div>
  <%end%>

<div class="controls">
  <h2>最新のレビュー</h2>
</div>

<div class="controls">
  <div class="lists">
    <% @comments.each do |comment| %>
      <div class="item">
        <a style="color: #ffffff" href="/lessons/<%=comment.lesson_id%>/view">講義名 : <%= Lesson.find_by(id: comment.lesson_id).lesson %></a>
        <p>レビュー：<%= comment.comment %></p>
        <%commented_user = User.find_by(id: comment.user_id )%>
        <p>投稿者：<%= commented_user.name%></p>
      </div>
    <%end%>
  </div>
</div>

</body>
</html>